/*gerais*/
@charset 'UTF-8';

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font_principal: Arial, Verdana, Calibre, 'Sans Serif';
    --font_titulo_main: "idroid";
    --font_header: "Bebas Neue", 'Cursive';
}

*{ 
    box-sizing : border-box;
}

body{
    background-color: var(--cor1);
    margin: 0;
    font-family: var(--font_principal);
}

p{
    text-indent: 1.5rem;
    text-align: justify;
}

strong{
    color: var(--cor4);
    font-weight: bold;
}

abbr{
    text-decoration: none;
}

abbr:hover{
    text-decoration: underline;
}

/*fim gerais*/

/*Barra de menu*/
header{
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
    width: 100%;
    box-shadow: 1px 1px 4px #00000071;
}

#cabecalho{
    color: #fff;
    padding-top: 10px;
    text-align: center; 
}

#cabecalho > h1{
    margin: 10px 0 0;
    font-size: 2.25em; 
    font-family: var(--font_header);
    text-shadow: 0 0 4px #00000071;
    font-weight: normal;
}

#cabecalho > p{
    padding: 0 10px;
    margin: 0 auto 20px;
    max-width: 500px;
    text-indent: 0;
    text-align: center;
    text-shadow: 0 0 2px #00000071;
    font-size: 0.9em;
}

/*links nav*/
nav{
    padding: 0 0 3px;
    text-align: center;
    font-family: var(--font_header);
    font-size: 1.1em;
}

nav > a {
    display: inline-flex;
    padding: 1px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    transition-duration: 0.25s;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
}
/*fimlinks nav*/
/*fim barra de menu*/

/*conteudo*/
main{
    padding-bottom: 30px;
    max-width: 950px;
    background-color: #fff;
    box-shadow: 0 0 10px #00000071;
    border-radius: 0 0 10px 10px;
    margin: auto;
    text-align: justify;
    margin-bottom: 60px;
}

.conteudo{
    padding: 10px 30px;
}

.conteudo > h1{
    font-family: var(--font_titulo_main);
    text-align: center;
    color:var(--cor4);
    margin: 20px 0;
    font-size: 1.4em;
    font-weight: normal;
}

.conteudo > h2{
    font-size: 1.2rem;
    font-family: var(--font_titulo_main);
    color: var(--cor5);
    text-align: left;
    margin: 20px 0;
    background: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 5px;
    font-weight: normal;
}

.conteudo > p {
    line-height: 2em;
}


/*links*/
article a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 0 2px 4px;
}

article a:hover{
    background-color: var(--cor4);
    color: #fff;
}

article a::after{
    content: "\1F517";
    color: initial;
    margin-left: 4px;
    padding: 2px 0 2px;
}

.conteudo> p > a:hover::after{
    background-color: #fff
}

aside > p > a:hover::after{
    background-color: var(--cor0);
}
/*fim links*/

/*midias*/
img{
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

#video{
    background-color: var(--cor4);
    background-clip: border-box;
    margin: 0;
    padding: 10px;
}

iframe{
    max-width: 100%;
    display: block;
    margin: auto;
}
/*fim midias*/

/*extra*/
aside {
    background-color: var(--cor0);
    box-shadow: #0000008f 0px 1px 3px;
    margin: 40px 30px 10px;
    border-radius: 10px;
    padding: 0 20px 10px;
}

aside > h3 {
    font-size: 1rem;
    background-color: var(--cor3);
    background-clip: padding-box;
    color: #fff;
    margin: 0 -20px 10px;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    line-height: 1.5em;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    column-gap: 30px;
    column-width: 150px;
    list-style-type:"✔  ";
    text-align: left;
    font-size: 0.9em;
    padding: 0 20px ;
}
/*fim extra*/


/*rodape*/
footer{
    text-align: center;
    padding: 10px;
    background-color: var(--cor5);
    color: #fff;
    font-size: 0.5em;
}
