@charset "UTF-8";

*{
    margin: 0;
}

header{
    margin: 0;
    background-image: linear-gradient(#37c878, #124829);
    width: 100%;
}

#cabecalho{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#cabecalho > h1{
    margin-bottom: 16px;
    
}

#cabecalho > p{
    margin-bottom: 10px;
}

nav{
    padding: 10px 10px 5px;
    text-align: center;
}

nav > a {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

nav > a:hover{
    border-radius: 10px;
    background-color: #33b46d;
}

/*conteudo*/
@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

main{
    background-color: #33b46d;
    padding: 0 0px 10px;
}

article{
    padding: 50px 40px;
    background-color: #fff;
    box-shadow: 0 5px 10px #00000071;
    border-radius: 0 0 10px 10px;
    max-width: 80%;
    margin: auto;
    text-align: justify;

}

article > h1{
    font-family: "idroid";
    text-align: center;
    color: #1a663b;
    margin-bottom: 20px;
}

article > h2{
    font-size: 1.2rem;
    font-family: "idroid";
    color: #1a663b;
    text-align: left;
    margin-bottom: 20px;
}

article> p{
    margin-bottom: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
}

.destaque{
    color: #207947;
    font-weight: bold;
}

/*links no conteúdo*/

article> p > a{
    text-decoration: none;
    color: #207947;
    font-weight: bold;
}

article> p > a:hover{
    background-color: #207947;
    color: #fff;
    background-clip: content-box;
}

article> p > a:hover::after{
    background-color: #fff
}

article> p > a::after{
    content: " 🔗";
    color: initial;
}