/*gerais*/
@charset 'UTF-8';

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{ 
    box-sizing : border-box;
}

body{
    background-color: #c5ebd6;
    margin: 0;
    font-family: 'Bebas Neue', 'cursive', Arial, Helvetica, sans-serif;
}

p{
    text-indent: 1.5rem;
    text-align: justify;
}

strong{
    color: #207947;
    font-weight: bold;
}

abbr{
    text-decoration: none;
}

abbr:hover{
    text-decoration: underline;
}

h2{
    font-size: 1.2rem;
    font-family: "idroid";
    color: #1a663b;
    text-align: left;
    margin: 20px 0;
    background: linear-gradient(90deg, #6cc79580, #ffff);
}
/*fim gerais*/

/*Barra de menu*/
header{
    background: linear-gradient(#37c878, #289256,#175c35);
    width: 100%;
}

#cabecalho{
    color: #fff;
    padding-top: 20px;
}

#cabecalho > h1{
    margin-bottom: 5px;
    text-align: center; 
    font-weight: lighter;
    font-size: 1.7em;  
}

#pheader{
    margin: 0 auto 20px;
    font-size: 0.9rem;
    font-weight: lighter;
    padding: 0 20px;
    text-align: center;
    display: block;
    max-width: 350px;
    text-indent: 0;
}

/*links nav*/
nav{
    padding: 10px 10px 5px;
    text-align: center;
}

.linknav {
    display: inline-flex;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
}

.linknav:hover{
    border-radius: 10px;
    background-color: #33b46d;
}
/*fimlinks nav*/
/*fim barra de menu*/

/*conteudo*/
main{
    padding-bottom: 30px;
    width: 950px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px #00000071;
    border-radius: 0 0 10px 20px;
    margin: auto;
    text-align: justify;
    margin-bottom: 60px;
}

.conteudo{
    padding: 10px 40px;
}

.conteudo > h1{
    font-family: "idroid";
    text-align: center;
    color: #1a663b;
    margin: 20px 0;
    font-size: 1.4em;
}


/*links*/
.conteudo> p > a{
    text-decoration: none;
    color: #207947;
    font-weight: bold;
}

.conteudo> p > a:hover{
    background-color: #207947;
    color: #fff;
    background-clip: content-box;
}

.conteudo> p > a:hover::after{
    background-color: #fff
}

.conteudo> p > a::after{
    content: " 🔗";
    color: initial;
}
/*fim links*/

/*midias*/
img{
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

#video{
    background-color: #124829;
    background-clip: border-box;
    margin: 0;
    padding: 10px;
}

iframe{
    max-width: 100%;
    display: block;
    margin: auto;
}
/*fim midias*/

/*extra*/
#extra {
    display: block;
    background-color: #bce1cc;
    box-shadow: #0000008f 0px 1px 3px;
    margin: 40px 40px 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

h3 {
    font-size: 1rem;
    background-color: rgb(23, 95, 53);
    background-clip: padding-box;
    color: #fff;
    margin: 0px;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

#extra > p {
    padding: 0 20px;
}

#extra > p>  a {
    color: rgb(32, 121, 71);
    font-weight: bold;
    text-decoration: none;
}

#extra > p > a:hover{
    background-color: #207947;
    color: #fff;
    background-clip: content-box;
}

#extra > p > a:hover::after{
    background-color: #bce1cc;
}

#extra > p > a::after{
    content: " 🔗";
    color: initial;
}

ul{
    margin-left: 5px;
}

li{
    list-style-type:"✔  ";
}
/*fim extra*/

/*rodape*/

footer{
    text-align: center;
    padding: 10px;
    background-color: #124829;
    color: #fff;
    font-size: 0.5rem;
}
